.link {
  position: relative;
}
.link:after {
  margin-left: 10%;
  background: none repeat scroll 0 0 transparent;
  bottom: 20;
  content: '';
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #00adef;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
.link:hover:after {
  width: 80%;
  left: 0;
}
