@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: #666666;
  --background: #f6f4f4;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: #666666;
    --background: #f6f4f4;
  }
}

body {
  color: rgb(var(--foreground));
  background: var(--background);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* scroll-bar */
::-webkit-scrollbar {
  width: 8px;
  background: #7e009e;
}
::-webkit-scrollbar-thumb {
  background: #00adef;
}
